<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask PostgreSQL Form</title>
</head>
<body>
    <h1>Submit a Post</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <label for="title">Title:</label>
        {{ form.title() }}
        <br>
        <input type="text" value="{{ form.date.data.strftime('%Y-%m-%d') }}" readonly hidden>
        <br>
        <label for="description">Description:</label>
        {{ form.description() }}
        <br>
        <label for="photos">Photos (PNG, JPG, PDF):</label>
        <div id="file-container">
            {{ form.photos() }}
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>